<section>
  <%= for rows <- @matrix.matrix do %>
    <div>
      <%= for col <- rows do %>
        | <%= col %> |
      <% end %>
    </div>
  <% end %>

  <div>
    <%= for label <- @matrix.labels do %>
      | <%= label %> |
    <% end %>
  </div>
</section>
